# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/.vs/Commit/FileContentIndex/9651b878-9363-4798-864a-3121afe03a17.vsidx
/.vs/Commit/CopilotIndices/17.14.1584.41681/CodeChunks.db
/.vs/Commit/CopilotIndices/17.14.1584.41681/CodeChunks.db-shm
/.vs/Commit/CopilotIndices/17.14.1584.41681/CodeChunks.db-wal
/.vs/Commit/CopilotIndices/17.14.1584.41681/SemanticSymbols.db
/.vs/Commit/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-shm
/.vs/Commit/CopilotIndices/17.14.1584.41681/SemanticSymbols.db-wal
